.container {
    margin: 100px auto;
    max-width: 1300px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /*border: 1px solid grey;*/
    background: #ff9c6e;
}

.cardPacksWrapper {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background: #fff2e8;
    padding: 0 10px;
}
.mainInfo {
    width: 10%;
    display: flex;
    justify-content: space-between;
}

/*li button:first-of-type {*/
/*    display: none;*/
/*}*/

.card {
    padding: 10px;
    width: 20%;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 10%;
}
.buttonsWrapper {
    display: flex;
}

.packs {
    display: flex;
    justify-content: space-between;
}

