.container {
    margin: 0 auto;
    max-width: 1300px;
}

.header {
    margin: 150px 50px 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /*border: 1px solid grey;*/
    background: #ff9c6e;
}

.cardPacksWrapper {
    padding: 0;
    margin: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background: #fff2e8;
}

li button:first-of-type {
    display: none;
}

.card {
    padding: 10px;
    /*width: 370px;*/
}

.buttonsWrapper {
    display: flex;
}

.packs {
    display: flex;
    justify-content: space-between;
}

