.profileOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.profile{
    border: 1px solid red;
    display: flex;
    width: 800px;
    margin-top: 100px;
    justify-content: space-between;
}

.profile img {
    width: 250px;
}