.registrationOverlay {
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 100px auto 0;
    align-items: center;
    border: 1px solid red;
    padding: 100px;
}
.registrationOverlay form {
    display: flex;
    width: 200%;
    color: red;
    flex-direction: column;
}
