.cards {
    margin: 100px auto;
    max-width: 1300px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #ff9c6e;

}
.mainInfo {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.mainInfo p {
    width: 50%;
}
.answer {
    display: flex;
    justify-content: space-between;
}
.answer span {
    color: white;
    font-weight: 600;
    text-decoration: underline;
}
.packCards {
    padding: 10px 20px;
    background: #fff2e8;
    display: flex;
    justify-content: space-between;
}