.passRecOverlay {
    height: 100vh;
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
span.nameRecPass {
    width: 30%;
    margin: 20px 0;
    text-align: center;
}
.formRecPass {
    width: 25%;
}


